body {
    margin: 0;
}
/* For the navigation bar */
.navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* For the links of the navigation bar */
.navbar a {
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    text-align: center;
    font-size: 30px;
}
/* For the main content */
.main {
    margin-left: 250px;
    margin-right: 100px;
}
/* Makes the container "flex" */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
/* All div who are children of .flex-container gets 10px margin */
.flex-container > div {
    margin: 10px;
}
/* Each div.gallery is an image with a explaining text */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 23%;
    transition: transform .2s;
}
/* When hovering over the gallery */
div.gallery:hover {
    border: 1px solid black;
    transform: scale(1.1);
    background-color: black;
    color: white;
}
/* For the images of the gallery class */
div.gallery img {
    width: 100%;
    height: auto;
}
/* For the description class (desc) */
div.desc {
    padding: 15px;
    text-align: center;
}
.title {
    text-align: center;
    font-size: 3em;
    
}
.sub-title {
    padding: 5px;
}
/* To inlcude the margin and padding in the width and height */
* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
.month {
    padding: 50px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
    margin: 0;
}
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.month .prev {
    float: left;
    padding-top: 10px;
}
  
.month .next {
    float: right;
    padding-top: 10px;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    
}
.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
    font-size:30px;
}
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.days a {
    text-decoration: none;
    color: #777;
} 
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin: 10px 0px;
    font-size: 30px;
    color: #777;
}
.days li:hover {
    background: #1abc9c;
    color: white 
}
.flex-table {
    display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: row;
	/* min-height: 100vh; */
    padding: 4rem 0;
    padding-top: 1rem;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
table {
	width: 100%;
	/* max-width: 50rem; */
    
}
tr:nth-child(even) th {
	color: #ccc;
	font-weight: normal;
}
th, td {
    padding: 0.5rem 1rem;
}
	
th {
	font-weight: normal;
	border-top: thin dotted #ccc;
}
	
td {
	font-size: 0.8rem;
	/* font-weight: bold; */
	line-height: 1.4;
	border-radius: 0.9rem;
    transition: opacity 0.3s ease;
    text-align: center;
}
	
td > span {
	font-size: 0.8em;
	font-weight: normal;
	display: block;
	width: 100%;
}
.stage-earth {background-color: #FFA726}
.stage-mercury {background-color: #9CCC65}
.stage-venus {background-color: #FF8A65}
.stage-mars {background-color: #B3E5FC}
.stage-jupiter {background-color: #81D4FA}
.stage-saturn {background-color: #26C6DA}

.co-title1 {
    display: inline-block;
    padding-left: 7rem;
}
.co-title2 {
    float: right;
    padding-right: 6rem;
}

