body {
    margin: 0;
}
/* For the navigation bar */
.navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* For the links of the navigation bar */
.navbar a {
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    text-align: center;
    font-size: 30px;
}
/* For the main content */
.main {
    margin-left: 250px;
    margin-right: 100px;
}
/* Makes the container "flex" */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
/* All div who are children of .flex-container gets 10px margin */
.flex-container > div {
    margin: 10px;
}
/* Each div.gallery is an image with a explaining text */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 23%;
    transition: transform .2s;
}
/* When hovering over the gallery */
div.gallery:hover {
    border: 1px solid black;
    transform: scale(1.1);
    background-color: black;
    color: white;
}
/* For the images of the gallery class */
div.gallery img {
    width: 100%;
    height: auto;
}
/* For the description class (desc) */
div.desc {
    padding: 15px;
    text-align: center;
}
.title {
    text-align: center;
    font-size: 3em;
    
}
.sub-title {
    padding: 5px;
}
/* To inlcude the margin and padding in the width and height */
* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
    margin: 0;
}
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.month .prev {
    float: left;
    padding-top: 10px;
}
  
.month .next {
    float: right;
    padding-top: 10px;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    
}
.weekdays li {
    display: inline-block;
    width: 14%;
    color: #666;
    text-align: center;
    font-size: 50px;
}
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.days a {
    text-decoration: none;
    color: #777;
} 
.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    text-align: center;
    margin: 20px 0px;
    font-size:60px;
    color: #777;
}
.days li:hover {
    background: #1abc9c;
    color: white 
}